[2017-10-24 09:13] Gregcop1 commented on #484
It's independant. Redux keeps state of your app. If you want to interact with async data, you can try react-thunk or saga.

[2017-10-28 08:38] prionkor commented on #448
Using `dataStore.getMapper('comment').findAll({...})` sends ajax request every time. So, it beats the purpose of the caching.

[2017-10-28 10:21] prionkor commented on #451
Does anyone have a solution for this? This makes whole library unusable. :(

[2017-10-28 12:40] zeesulehria opened #485 "Default values for properties from parent schema are not applied to child instance creation"
## Description

I need to implement inheritance on schema level, but when I do, validation for type works fine but default values are not getting applied from parent schema class. I am using jsdata v3.0.1

## Steps to reproduce

Plunkr to reproduce the issue:
https://plnkr.co/edit/F5DTOJZYikV7jc5BisTV?p=preview

Thanks!

[2017-10-31 17:31] prionkor opened #486 "Non Resource Endpoints?"
How to create non resource endpoints. For example the dashboard of an application which might need a collection of data in a single request.

How do I create an endpoint request for `/dashboard`? I hope I am making sense.

[2017-11-02 10:36] #484 closed

[2017-11-03 16:00] jeotic opened #487 "Relations aren't being updated properly"
## Description
When adding a child entity before the parent, the association never gets updated, so the child entity is never aware of the parent and vice-versa.

## Steps to reproduce
I used sample code provided in the documentation to replicate the issue.

Curiously, when I deleted the "posts" from the user object, the relations got properly updated, but when that object exists, only that object

[2017-11-08 00:18] kvandelden opened #488 "Container Load Performance Feedback"
Hello,
   I am looking for feedback and possibly direction on a performance improvement task I need to take on.  We are utilizing a DataStore to load rows into mappers/ containers.   We load each object into multiple mappers, corresponding to REST endpoints/ entities on the backend.  We also utilize the standard row change tracking.

  When we load more and more objects into the containers, the lo

[2017-11-25 23:25] DrSensor opened #489 "How to create table?"
## Description
When I try to create a record, the table not created automatically.

[code]

## Steps to reproduce

[code]

----

[code]

-----

Thanks!

[2017-12-06 09:12] BennyAlex opened #490 "with doesn't support nested ressources"
## Description
In the docs I found the 'with'-option wich I try to use, but it looks like it's not working corrctly.

## Steps to reproduce
I try to get the products of a category ('category.products'). A category belongs to a company ('company.categories' / 'category.company')
I have a nested ressource here, so the category is found under

And the products are

This will work like I expect, it's

[2017-12-08 15:11] BennyAlex commented on #416
@jmdobry
Hello, I get the error in my application, too. track changes is activated. It happens every time when I call record.save() in specific methode.

    at Record.descriptor.set [as id] (js-data.js?2812:7181)
    at Object.deepMixIn (js-data.js?2812:521)
    at postProcess (js-data.js?2812:4395)
    at <anonymous>
descriptor.set @ js-data.js?2812:7181
deepMixIn @ js-data.js?2812:521
postProce

[2017-12-08 17:24] jmdobry commented on #451
So, the original bug reported at the top of this issue (which was previously demonstrated [here](https://plnkr.co/edit/HTy80eaXRinWmTbWRu8U?p=preview)) appears to be fixed. @Goopil Correct me if I'm mistaken, but when I try that plunker with js-data 3.0.1 and js-data-http 3.0.0 your error case is not triggered, so I'm going to consider this fixed.

If someone finds a similar problem please open an

[2017-12-08 17:24] #451 closed

[2017-12-08 17:26] jmdobry commented on #416
@BennyAlex Could you create a plunker or stackblitz or jsfiddle or something with code that reproduces the error?

[2017-12-08 17:28] jmdobry commented on #448
@prionkor Mappers do not implement any caching whatsoever. Caching is implemented by the `SimpleStore` and `DataStore` classes.

Exactly, `store.getMapper('comment').findAll({...})` is how you explicitly bypass the caching implemented by the store. `store.findAll('comment', {...})` will activate automatic caching.

[2017-12-08 17:30] jmdobry commented on #448
I'm going to consider this resolved, per my answer [here](https://github.com/js-data/js-data/issues/448#issuecomment-287522472)

[2017-12-08 17:30] #448 closed

[2017-12-11 15:40] jake-lambert-volusion opened #491 "What is the status of this project?"
I am very interested in JS-Data.

There seems to be very little activity in the repo and a growing list of issues which don't appear to have gotten any consideration.

Is this project actively maintained?

[2017-12-11 15:57] kvandelden commented on #488
I was able to resolve the majority (81%) of this issue by:

1. Prevent the creation of BelongsTo indexes.
Collection.js
![image](https://user-images.githubusercontent.com/17126950/33839520-138fe8cc-de58-11e7-8d89-53b5b77d3850.png)

DataStore.js
![image](https://user-images.githubusercontent.com/17126950/33839625-61ef4ab2-de58-11e7-8f9c-520ceb4e9aea.png)

2. Only fire RecordChange events for mutabl

[2017-12-12 16:46] r14c commented on #57
@AlexandreBonaventure @jmdobry we are taking a slightly different approach with [vdata], which is more similar to graphQL than redux. nice to see other vue.js+js-data people around!

[vdata]: https://gitlab.com/citygro/vdata

[2017-12-22 13:25] zuzusik commented on #411
we've recently bumped into this one

[2017-12-26 22:36] crobinson42 commented on #491
@jake-lambert-volusion from the JS-Data community slack #general channel:
https://js-data.slack.com/archives/C0D1H5L65/p1503072197000355
https://www.dropbox.com/s/nzy56cytmxpkzvn/Screenshot%202017-12-26%2014.35.50.png?dl=0

jmdobry
@everyone Hey folks, I'm in the process of performing the v3 stable release. `js-data`, `js-data-http`, `js-data-http-node`, `js-data-fetch`, `js-data-mongodb` and `js-

[2017-12-26 22:36] #491 closed

[2018-01-08 09:40] kaveri22 commented on #481
Any update

Thanks!

[2018-01-24 19:06] phortx commented on #416
I'm having this issue too. Seems like it happens when there are properties in a newly created model which are `undefined` (having no default value and don't have been set between creation and saving) and then new values come from the server.

When you make sure you have default values for every property you don't set after creation, everything works.

I think this is a bug. js-data should allow to

[2018-02-01 23:56] eldridge commented on #364
I'm not sure 14be7e5 does the right thing here.  When I set usePendingFind/usePendingFall to false on the server, all of my lookups resolve with undefined.  It looks like nothing gets sent to the adapter at all.  Moreover, it looks like queryHash does not respect the with parameter, which ends up causing the related queries to not be sent to the database backend (with the SQL adapter, anyways -- p

[2018-02-14 04:33] #416 closed

[2018-04-04 00:37] brodie-g commented on #448
I encountered this too - second requests, with query params, returned an empty array. After some debugging, I tracked the issue down to the default `SimpleStore.cacheFindAll()` function:
[code]

I believe what happens is, when the store comes to a cached record, by default, it will dive in and do some local filtering based on the query params, not return the straight result as if making the HTTP c

[2018-04-04 16:10] johman10 commented on #448
@brodie-g's approach is actually quite nice. I ended up doing something similar in my project. To add up onto that you might have issues with cache if you have a SPA running though, since removing records won't actually works.

So to add up onto that solution we did this:
[code]

We are running this in a production app without any problems by now. Personally I'm all happy with this solution. :D

[2018-04-05 12:12] patricklx opened #496 "Find with different opts and Pending Query"
## Description

If  you call find 2 times, once with raw: true and once without, the second will use the same options from the first.

## Steps to reproduce
[code]

Thanks!

[2018-04-14 15:39] MuhammadTahir92 opened #497 "ERROR in node_modules/js-data/dist/js-data.d.ts(15,12): error TS2304: Cannot find name 'PromiseConstructor'."
what type of error is it how can i solve this?

[2018-04-26 20:02] mikeu opened #498 "Child records not found when idAttribute is different from parent in hasMany relation"
## Description

If the parent model in a `hasMany` relationship with `localKeys` has an `idAttribute` different from the `idAttribute` of the child model, then the related children are not added to the model instance.

When the `relatedCollection` is filtered in `HasManyRelation.findExistingLinksByLocalKeys`, the `where` clause looks for records that have `this.mapper.idAttribute` in the given arr

[2018-04-28 03:00] jshrt opened #500 "Bug when querying mapper with relations, with arg with"
## Description

Upon querying a mapper like the following:

[code]
The following error is thrown:
[code]

Also, I've noticed some rather vague validation errors that go like *Validation Failed* without mentioning what field or why.

I was testing module so that maybe I could use it in production, the APIs and the extensiblity in this module is terrific! good job! I just love how flexible I can be

[2018-05-01 04:09] mikeu commented on #500
I haven't actually tried running your code @jshrt , but I have a couple of comments that might help, depending how close this is to what you're actually running...

First, you seem to be defining functions to create users and posts, but never actually calling them. This shouldn't be the cause of the error you are encountering, but is probably still worth fixing while trying to get things working,

[2018-05-01 04:51] mikeu commented on #500
It turns out, at least as far as the documentation is concerned, that we may both be right as far as the [`with` argument](http://www.js-data.io/v3.0/docs/relations#section-eagerly-loading-relations) is concerned:

However, I think the other part of that point still stands. As far as I'm aware, the relationship in your `posts` mapper should be the same as the name of the mapper:
[code]
Does that m

[2018-05-01 17:41] ivanvoznyakovsky opened #501 "deepMixIn merges in source properties that resolve to undefined into dest"
## Description

`deepMixIn` merges in `src` properties that resolve to `undefined` into `dest` even if they have a value in `dest`

## Steps to reproduce
[code]

Thanks!

[2018-05-11 21:17] zuzusik opened #503 "Relations get lost when record exists in store"
## Description

Caught this in following conditions:

1. We create `user` with some `organization_uid`.
2. Then at some point we request this `user` from network with `expand=organization` parameter, so it comes back with `organization` field
3. For some reason `organization` relation is not there.
4. We eject this `user` from store
5. We request this `user` from network with `expand=organization`

[2018-05-24 14:02] alevinru commented on #503
I do confirm this is a reproducible bug. Our way to encounter was:

1. findAll some SaleOrders and display them as a list
2. user clicks on a list item and we do:
3. store.find('saleOrder, clickedSaleOrder.id, { with: ['saleOrderPositions', 'saleOrderPositions.article'] })
4. adapter does all the requests to refresh the saleOrder, its positions and the associated articles, but this stuff doesn't a

[2018-06-22 00:43] demisx opened #504 "Future of JS Data"
Hi. Can @jmdobry or any core people please share their vision on the future of JS Data? It appears there was not much activity since February 2018 and we are just worried that this awesome ORM has been abandoned. Any insight would be highly appreciated. Would like to use this ORM for new products and recommend to others, but it's hard to do this without understanding the product roadmap. Thank you

[2018-06-22 01:49] crobinson42 commented on #504
Hi @demisx - @jmdobry has contributed a ton to this project and it's pretty stable and usable in production. As an open-source project, it's kind of up to the community to also help maintain a project if it's something they appreciate, enjoy, and possibly rely on. You are right in your observation there hasn't been much activity here - are you looking for anything on a roadmap that the library doe

[2018-06-22 01:50] crobinson42 commented on #504
PS thanks for the bump, I'll see about contributing a little time to helping move long some PR's and bug fixes.

[2018-06-22 02:36] demisx commented on #504
@crobinson42 Thank you for your prompt reply. Truly appreciate it! I don't have anything at the moment  to ask for. I was mostly interested whether this project was still maintained and whether it could be recommended for the future projects. It is a great ORM and @jmdobry is one brilliant guy. Would be said to see this gem being abandoned. I guess it's not the case and I am very happy to hear it.

[2018-06-22 02:40] #504 closed

[2018-06-22 04:05] jmdobry commented on #504
👋 Hey folks, I'm still around, just busy. JSData is alive, but surely deserves more of my attention. I appreciate each and every contribution to the project.

With regard to JSData v3: it's stable and ~done. I definitely need to circle back and fix any bugs that have cropped up and update development dependencies, as they seem to break every other month. But other than that, JSData is still kickin

[2018-06-22 09:35] lusarz opened #505 "JSDATA try to fetch relations even when value of localKey is undefined"
## Description

JSDATA try to fetch relations even when value of localKey is undefined

## Steps to reproduce
- Create relations inside record (for example article)

      relations: {
        belongsTo: {
          author: {
            localField: 'author',
            localKey: 'author_id'
          }
        }
      }

- Fetch article:

      Article.find(id, { with: ['author'] })

- Issue: ev

[2018-06-22 13:13] #498 closed

[2018-06-22 13:55] crobinson42 opened #506 "CI upgrade/update - CircleCI 2.0"
## Description

Currently, the project is running in circle ci 1.0 - legacy. The CI build pipe needs to be brought up to CircleCI 2.0 config and spec.

<img width="1066" alt="screenshot 2018-06-22 06 53 18" src="https://user-images.githubusercontent.com/5973579/41780304-338d63ce-75e9-11e8-8738-c86bab7d1506.png">

[2018-06-22 15:10] #506 closed

[2018-06-22 15:39] crobinson42 commented on #497
@MuhammadTahir92 if you have a reproducible case plus post and we'll reopen to investigate.

[2018-06-22 15:39] #497 closed

[2018-06-22 15:41] crobinson42 commented on #490
@BennyAlex if you're still having issues with your use case try to get some help by posting in the slack team #ineedhelp channel. If it turns out to be a bug you've discovered, please post back here.

[2018-06-22 15:41] #490 closed

[2018-06-22 15:42] crobinson42 commented on #486
Please checkout the docs and if you need further help go to the slack team channel.

[2018-06-22 15:42] #486 closed

[2018-06-22 15:44] crobinson42 commented on #482
@edwardjiawei this can be something that is handled in adapters either a custom adapter or your own code base and extending adapter methods. If you think this is a responsibility that should exist in js-data core, please post back.

[2018-06-22 15:44] #482 closed

[2018-06-22 15:44] crobinson42 commented on #482
Also, we have a slack team channel you can discuss this feature/enhancement in.

[2018-06-22 15:45] crobinson42 commented on #489
Please checkout the docs and if you need further help go to the slack team channel. You can also post on stackoverflow with the #js-data tag.

[2018-06-22 15:45] #489 closed

[2018-06-22 15:50] crobinson42 commented on #470
@ilya4544 if you want to submit a PR, that would be awesome! ;-)

[2018-06-22 15:54] crobinson42 commented on #460
@ljqx v2 doesn't have any active enhancements planned - You have the option to migrate to v3 or of course you're welcome to submit a PR against the `v2` branch :-)

[2018-06-22 15:54] #460 closed

[2018-06-22 15:55] crobinson42 commented on #456
closing due to no activity.

[2018-06-22 15:55] #456 closed

[2018-06-22 16:00] #453 closed

[2018-06-22 16:07] #401 closed

[2018-06-22 16:10] crobinson42 commented on #401
fixed in js-data-examples

[2018-06-22 17:23] #452 closed

[2018-06-22 17:25] crobinson42 commented on #423
http://www.js-data.io/docs/validation

[2018-06-22 17:25] #423 closed

[2018-06-22 17:25] #420 closed

[2018-06-22 17:28] crobinson42 commented on #409
@mikkelrd You can fork this Plunker and provide some more info on the problem it would be helpful. https://next.plnkr.co/edit/YmRdhVMRfc1qpm22

[2018-06-22 17:28] #409 closed

[2018-06-22 17:32] crobinson42 commented on #442
@zuzusik with consideration of the Angular team response to the issue you opened, do you think this is a relevant concern for js-data and should be addressed?

[2018-06-22 17:33] crobinson42 commented on #505
@lusarz can you add some example code to demo this in a Plunker? Fork this to get the template started easily with the js-data deps: https://next.plnkr.co/edit/YmRdhVMRfc1qpm22

[2018-06-22 22:23] #501 closed

[2018-06-23 07:44] lusarz commented on #505
@crobinson42 thanks for paying attention to my issue :)

I prepared demo here:
https://github.com/lusarz/jsdata-hello-world

Steps to see issue:
- run application (like described in README.md)
- open `http://localhost:3000/` in browser
- check network tab in developer tools - there is one unexpected request to `http://localhost:3000/api/authors`

[2018-06-23 15:16] crobinson42 commented on #505
This is related to the `js-data-adapter`, specifically here: https://github.com/js-data/js-data-adapter/blob/master/src/index.js#L804

If anyone wants to look into a solution for this, please do!

[2018-06-26 14:24] crobinson42 commented on #505
@lusarz if you have some time can you add unit tests and be sure the coverage does decrease?

[2018-07-13 21:43] srikavin opened #513 "Invalid data populated with hasMany relations"
## Description

When loading data, some objects with relations are populated with incorrect data.

## Environment

- js-data version: 3.0.2,
- browser version: Chrome 67.0.3396.99
- operating system: Windows 10

## Steps to reproduce

In the plunker, both post objects contain the same data, but the record objects include different data in `record.tagIds` and `record.tags` in comparison with each o

[2018-07-25 00:16] EnriqueSampaio opened #514 "Typescript missing some methods / optional parameters as required"
## Description

Some Typescript declarations are wrong, missing some methods or saying that an optional parameter is required

## Environment

- js-data version: 3.0.2
- node or browser version: 10.0.0
- operating system: Ubuntu 18.04

## Steps to reproduce

[code]

[code]

[2018-07-26 18:10] EnriqueSampaio opened #515 "Relations not being retrivied using foreignKeys"
## Description

Relations are not being retrivied from database in a many to many relation (localKeys x foreignKeys) on the child side (foreignKeys)

## Environment

- js-data version: 3.0.2
- node or browser version: 10.0.0
- operating system: Ubuntu 18.04

## Steps to reproduce

I have the following scenario. A many to many relation between accounts and operators, using localKeys at accounts and

[2018-07-26 19:13] EnriqueSampaio commented on #515
I just realized that it works fine if I retrieve the Operator using store.find('operator'), passing the id and using { with: ['account'] } opts, then my accounts array is populated, but still not working using store.findAll and the same opts (I get all Operators but with empty accounts array), so I can only think that it's a bug.

[2018-07-27 19:57] ScottTrenda commented on #474
I would also love to see this fixed - not only does it slow the browser down significantly when it happens, when it's encountered in our Karma+Jasmine test environment, it sends PhantomJS into a tailspin that crashes the process within a few tests afterward. Very difficult to debug as well. A simple `isNaN` check in addition to `===` would address this; AFAIK, `NaN` is the only value in Javascript

[2018-07-31 00:48] demisx opened #516 "Fix broken example links in documentation"
The Angular 1, Angular 2 and React example links return GitHub 404 error. See attached.

![screen shot 2018-07-30 at 5 46 15 pm](https://user-images.githubusercontent.com/4452412/43431007-b41ae818-9420-11e8-9f1d-2c7d272284d3.gif)

[2018-07-31 00:55] crobinson42 commented on #516
@dmitri you can suggest edits on the docs site.

On Mon, Jul 30, 2018, 17:48 Dmitri Moore <notifications@github.com> wrote:

[2018-07-31 01:09] demisx commented on #516
@crobinson42 I was thinking about that, but won't I need to know what those links are?

[2018-08-02 14:28] suchg opened #517 "unsubscribe http-adapter ajax request in Angular 6"
## Description

I am using js-data, http-adapter in Angular 6. After certain time I want to stop the asynchronous http ajax request. The store.findAll method return promis by which we can not stop the ajax request. That is why I am trying to use observables instead of promise, so by using unsubscribe method I could cancel ajax request.

I did follow the steps given in documentations of 'js-data wi

[2018-08-02 14:30] #517 closed

[2018-08-02 14:31] crobinson42 commented on #517
@suchg I recommend posting on Stackoverflow or trying this out in the Slack channel for JS-data.

[2018-08-17 02:48] #516 closed

[2018-08-17 16:43] crobinson42 opened #518 "Chores"
The goal of this chore list is to make the js-data libraries more community friendly for contributions. One thing that has come up a lot is the difficulties in contributing. Hopefully with the items here we can improve consistency across dev environments and make it easier and streamlined for anyone to pull, code, and PR into our libraries.

- [x] add .nvmrc

- [x] review outdated & update depende

[2018-08-28 15:43] jason-garner-volusion opened #520 "The latest tagged version is missing compiled files"
## Description

The latest tagged version is missing compiled files, only the TypeScript definitions file is present.

## Environment

- js-data version: 3.0.3
- node version: 10.6.0
- operating system: macOS High Sierra 10.13.4

## Steps to reproduce

Add to project using bower.json. Set dependency to "^3.0.1". Bower installs the latest tag 3.0.3. Fixed by setting to "3.0.1" for now.

Not pressin

[2018-08-28 16:37] crobinson42 commented on #520
Thanks! Updated the 3.0.3 tag file tree

[2018-08-28 16:37] #520 closed

[2018-08-31 10:00] jacus410 opened #521 "Docs issue: connecting-to-a-data-source"
http://www.js-data.io/v3.0/docs/connecting-to-a-data-source

<issue description goes here>

[2018-09-23 14:51] crobinson42 commented on #513
@srikavin Have you investigated or found any new information regarding this issue?

[2018-09-28 04:20] crobinson42 opened #522 "find & findAll throw when returned records don't validate with schema"
js-data: `3.0.3`

When performing a `find` or `findAll` async operation to a back-end (js-data adapter), and your Mapper has a schema defined, do you expect the returned data from the server/adapter to be validated against the schema? If so, do you expect an error to throw on that validation and the `find` or `findAll` preventing any of the records from being available?

This question has been spr

[2018-09-28 12:37] #522 closed

[2018-10-02 16:46] crobinson42 commented on #515
@EnriqueSampaio have you investigated any further on this issue? If it is in-fact a bug I'd like to get it worked out. Please let us know.

[2018-10-02 16:47] crobinson42 commented on #515
Also, does `findAll()` work with `console.log(operators[0].toJSON({ withAll: true }));`?

[2018-10-02 19:29] crobinson42 opened #525 "populate Record's relations returned from async methods"
## Description

When using JSData server-side, it is common to immediately return the result from an async op, ie:

[code]

The problem with the above code is that the relation field, `posts` will not be populated due to the Mapper's `toJSON` method not being invoked on each record instance with the options `{ with: ['posts'] }`.

This is a hassle when you are required to write server-side control

[2018-10-02 19:33] EnriqueSampaio commented on #515
No it doesn't. I just tried that but still gives me an empty array. The only way it works is with `findAll()` + lazy load (`.loadingRelations()`).

Remembering that it only occurs using `foreignKeys` (`localKeys` and `foreignKey` works good).

[2018-10-04 13:16] KRaymundus opened #526 "JS-Data v3.0 stop execution in lifecycle hook"
I am using js-data v3.0 and i am trying to prevent store-injection of the record received from my API upon update if the record was changed while saving.

In js-data v2.9 one could abort the lifecycle by calling a callback with an error as argument (docs)

Now in v3.0 I'm using the mapper#afterUpdate() lifecycle hook (docs), but I don't know how to abort the lifecycle.

[2018-10-04 13:18] crobinson42 commented on #526
Hi @KRaymundus  you want to take this to the JS-Data slack channel? http://slack.js-data.io/

[2018-10-04 13:18] #526 closed

[2018-10-04 13:30] crobinson42 commented on #526
The solution to this is using the mapper lifecycle (or mapperDefaults on the DataStore to apply to all mappers):

[code]

[2018-10-04 13:46] KRaymundus commented on #526
Wow, ok that works. Great thanks! I have been trying for 12 hours before asking. Would be great if anything like this would be in the docs or stackoverflow.

[2018-10-04 14:52] KRaymundus commented on #526
Just added a question and answer on stackoverflow:

https://stackoverflow.com/questions/52647639/js-data-v3-0-stop-execution-in-lifecycle-hook

[2018-10-04 18:40] crobinson42 commented on #525
Upon further investigation this is related to Mappers that have a schema defined and possibly the `Schema` class.

[2018-10-04 18:42] crobinson42 commented on #522
@zuzusik do you agree with the previous behavior? If so, would you propose any changes or enhancements?

[2018-10-04 20:54] zuzusik commented on #522
we've found previous behavior destructive, it requires 100% data consistency on backend side, which sometimes really hard to have (specifically, in big systems where there are a lot of legacy code)

also, it is not performance wise in case where backend has validation (and this is the most part of cases, I believe) - if something was saved to backend - it means it has passed validation once, so no

[2018-10-09 21:45] crobinson42 opened #527 "relation record props documentation"
It's not immediately clear/apparent to users on how to capture relation props using `with` ie:
[code]
Where the record `toJSON({ with: '...' })` prop is needed.

https://js-data.slack.com/archives/C0D1E8DUN/p1539120988000100

### TODO

- [ ] Add documentation to the readme.io site possible with a runkit link or code example

- [ ] Add `withAll` toJSON option to documentation

[2018-11-09 08:00] bodhisattva082915 commented on #504
Just to @demisx, awesome ORM / ODM. Haven't seen something quite this robust in quite a while.

[2018-11-09 13:56] crobinson42 commented on #496
This logic is in SimpleStore where the `this._pendingQueries` is only matching against a hashMap with `this._pendingQueries[name][id]`. When the options are different this causes errors and incorrect behavior, ie:

`Store.find('123').then(...)`
`Store.find('123', { with: ['messages']}).then(...)` // this will use the pending query that doesn't contain relation options and the result in `.then(...)

[2018-11-09 14:02] crobinson42 commented on #525
Consideration for recursive depth of `.toJSON` needs to be taken because of these computed props can become circular depending on the defined relations.

[2018-11-09 14:45] crobinson42 commented on #496
After reviewing the codebase, there needs to be a change made to `SimpleStore._pendingQueries` as well as `SimpleStore._completedQueries`.

The ideal solution would take into account queries with the `with: [...]` relation option and resolve any of the already completed queries and only requesting the requests that have not already been completed previously or pending.

[2018-11-11 00:17] bodhisattva082915 commented on #461
@bdfoster Could you describe the wrong way you were importing the schema from another file? I'm running into the same issue as you described and fixed it by defining my schema directly in the file that I define the mapper.

This will work fine..

[code]

This however will generate `{}` objects when applying the schema (almost as if the isn't there at all)

[code]

[2018-11-27 00:17] skrud opened #528 "JSONSchema validation ignores $ref"
## Description

When using a JSON Schema that contains $ref entries to other paths within the same JSON Schema (e.g. using [the example from JsonSchema.org](https://json-schema.org/understanding-json-schema/structuring.html#reuse)), js-data won't evaluate the "sub"-objects referenced via the $ref keyword. However, when the entire sub-object is nested in the original schema it correctly fails to va

[2018-11-27 00:44] skrud commented on #528
Hey @crobinson42 , thanks for responding quickly.

Here's another runkit using AJV, where it correctly finds the errors in the schema both with and without the $ref keyword: https://runkit.com/skrud/ajv-schema-validation-example (note that I had to add the metaSchema in order to validate draft-04 JSONSchema docs).

(I also realized there was an error in my original runkit, I had the "required" key

[2018-11-27 00:49] crobinson42 commented on #528
Thanks - I don’t have any immediate bandwidth to dig into this, but, if you can discover a quick solution I’ll move a PR along with you.

Source:

https://github.com/js-data/js-data/blob/master/src/Schema.js#L736 <https://github.com/js-data/js-data/blob/master/src/Schema.js#L736>

[2018-11-27 00:54] skrud commented on #528
I using a library like AJV a possibility?

[2018-11-27 00:56] crobinson42 commented on #528
Currently, no. We can consider adding the option to extend schema validation through some initial setup configs.

[2018-11-29 02:42] #521 closed

[2018-12-02 23:39] crobinson42 opened #529 "remove event not firing"
`remove` event is not firing when a record is removed from a Collection

[2018-12-02 23:42] #529 closed

[2018-12-18 07:52] yaoyao-ict opened #531 "findall and filter result discrepancy"
In a custom adapter with default cacheResponse: true, if we create some data.

Then call filter() can get the data that include newly created things.
But call findAll() again will get out-of-date data.
Why do we have this discrepancy here? if we can remember the all the difference, is it better to make findAll's result up-to-date?

[2018-12-27 14:14] crobinson42 commented on #531
@yaoyao-ict the issue template and questions are there for a reason - when you bypass them and don't answer questions like, "what version you're using", I'm forced to follow up with questions about "what version are you using" :-)

Please provide an example of what you're experiencing so we can resolve if it actually an issue. (I do not experience this nor are any tests failing with custom adapter

[2018-12-27 22:45] kvandelden commented on #531
If you are using the Store, change the onConflict property to keep. This will prevent data from being merged or replaced by the original data.

[2018-12-28 17:22] echo66 opened #532 "Can't query sub-documents in an array"
## Description
I was trying to query sub-documents in an array. This is the code I'm running:

[code]
I was expecting the output to be an array containing a single document. But, instead, I got an empty array.

## Environment

- js-data version:
* js-data@3.0.5
* js-data-memory@0.1.4

- node or browser version:
* node.js: v8.10.0

- operating system:
* Ubuntu 18.04 LTS

## Steps to reproduce
Use t

[2018-12-30 16:15] echo66 commented on #532
Hey, @crobinson42 !

In that page, there are no examples regarding sub-document queries.

[2018-12-30 18:27] porlov opened #533 "localField is not updated after localKeys change for many-to-many relations"
## Description

For many-to-many relations, which use `localKeys`, after changing `localKeys` via `record.set` `localField` is not updated. But for relations, which use `foreignKey`, all works correctly after changing `foreignKey`.

## Environment

- js-data version: 3.0.5
- browser version: Google Chrome 69.0
- operating system: Ubuntu 16.04 LTS

## Steps to reproduce

[code]

I expect that `loca

[2019-01-01 13:46] crobinson42 commented on #532
So what you're trying to accomplish, at the most basic example, is demonstrated here: https://runkit.com/crobinson42/js-data-532-query-sub-documents

Which is not working as expected :-(

[2019-01-04 07:54] yaoyao-ict commented on #531
Sorry for missing the version info in my questions. we are still using 2.10.1 as 3.xx introduced some breaking change.
Not sure if you are still maintaining the 2.xx version or not.

[2019-01-04 08:05] yaoyao-ict commented on #531
@kvandelden
My case is not about how to merge on conflict. I created new items, but findAll() does not respect the change. My understanding is if we have any write operation, any cached response should be dropped.

[2019-01-04 08:16] kvandelden commented on #531
getAll operates locally against the container in v3..  v2?

![image](https://user-images.githubusercontent.com/17126950/50678768-eb2bc900-0fc5-11e9-80ed-ef9d64688fb1.png)

I suspect findAll isn't intended to operate the way your expecting.

[2019-01-04 13:35] crobinson42 commented on #531
@yaoyao-ict v2 is not maintained but we will review and merge PR's from the community 👍

[2019-01-04 22:00] MrSnappingTurtle opened #534 "Docs issue: saving-data"
http://www.js-data.io/v3.0/docs/saving-data

The `addAction` documentation seems to be outdated. It's described as an instance method:

[code]

However both the source code and other [documentation](https://www.js-data.io/v3.0/docs/js-data-http#section-http-actions) seems to have it be a standalone function:

[code]

[2019-01-07 15:57] #534 closed

[2019-01-29 22:38] #301 closed

[2019-03-28 04:21] jayeb opened #535 "HasOne `findExistingLinksFor` has improper method signature"
## Description

The "parent" record on a hasOne/belongsTo relationship doesn't appear to link correctly, even when the child record already exists in the datastore. I think this is due to the `findExistingLinksFor` method defined on the `HasOne` relationship class having an improper method signature.

## Environment

- js-data version: 3.0.2

## Steps to reproduce

The [`HasOne.findExistingLinksFo

[2019-03-28 23:30] crobinson42 commented on #535
@jayeb failing test?

[2019-03-28 23:31] crobinson42 commented on #535
Or if there’s not test hitting this logic case can you write one to help resolve?

[2019-04-23 10:51] zeesulehria commented on #503
I am also facing the similar bug. Relations are not handled on Conflict resolution with existing record in cache.
If i have `saleOrder/123` record in cache, and later on I fetch `full` `saleOrder/123` with all the relations, then these relations don't appear in result retrieved from the store.

@crobinson42 I want to contribute to fix this bug. I would need your input for this.

[2019-04-23 12:26] zeesulehria opened #536 "Eagerly loaded side relations don't get cached"
## Description
If I load a relation record indirectly via `with: []` param, it is not stored in cache and next direct find request to that record fired request to adapter.

Steps to reproduce:
1. Eagerly load relation like: `store.find('invoice', id, { with: ['saleOrder'] })`
2. Then fetch same relation record using: `store.find('saleOrder', id)`
The call in 2 fires http request even when we have

[2019-04-23 12:46] zeesulehria opened #537 "deepMixIn causes valid properties to be merged by 'undefined` values in onConflict="merge" strategy"
## Description
If I have a record in cache with valid properites, and later on if its gets 'merged` with another version of this record that has some of the properties 'undefined`, valid properties present in cache earlier gets over-written with 'undefined' values in `deepMixIn()` function.

Here is current implementation of this function:
[code]

And we can fix it by changing it like:
[code]

##

[2019-04-23 12:56] zeesulehria opened #538 "Provide opts input for commit() in js-data.d.ts"
## Description
Currently we have this definition in js-data.d.ts file:
`commit(): this`
Whereas it needs to be:
` commit(opts?): this`

This is needed for example, if I need to commit a record with relations like: `this.order.commit({with: this.order.relations})`

## Environment

- js-data version: "js-data": "^3.0.5",

[2019-05-12 06:52] yusef-ho commented on #424
@jmdobry Thanks, and may i ask how can i use Joi Schema in this??

[2019-05-15 19:16] mikeu commented on #533
@porlov did you find a solution or workaround for this? I've just come up against the same issue.

[2019-05-16 08:54] porlov commented on #533
@mikeu I have not investigated yet how to fix the issue.

[2019-05-17 11:56] yusef-ho opened #539 "debug in opts of Mapper doesn't enable"
## Description
[code]
## Environment

- js-data version: v3.0.5
- node or browser version: Node 10.15.3
- operating system: OSX 10.13

## Steps to reproduce

<steps_to_reproduce>

[2019-06-18 20:59] zuzusik opened #540 "orderBy is not correctly comparing strings and null"
## Description

In code below when `cA` is `null` and `cB` is any string, both conditions (`cA > cB` and `cA < cB`) are `false`. This way **any string is considered equal to null**, which is not right. Expected: records where field is `null` appear at the end of the result (exactly like `_.sortBy` works)
https://github.com/js-data/js-data/blob/c3d102a5b255578cd91684ec26f43ffee5044e10/src/Query.js#

[2019-06-18 21:02] crobinson42 commented on #540
@zuzusik what do you expect the result of `String > null` to be?

[2019-06-18 21:34] zuzusik commented on #540
@crobinson42 there is an expectation set in bug description:

in lodash:

https://github.com/lodash/lodash/blob/488e62bd79443dd96fd83e631cccf3f68da489b1/test/sortBy.js#L43-L55

so, basically, I think `null` should be treated as empty value, i.e. empty string and put at the end of sorting

[2019-06-20 00:42] crobinson42 commented on #540
Sorry I missed that - if you have time to put a PR in I can review, merge and publish.

[2019-07-16 21:33] Tyler-Zhang commented on #536
I'm also running into this issue

[2019-07-17 06:08] zeesulehria commented on #536
Not sure. I don't see this issue when I directly query an endpoint (in which case data is retrieved correctly in subsequent call). For me it happens only with indirect relations loading via `with`..

[2019-07-21 19:36] crobinson42 opened #542 "Schema defaults are not applied when beforeCreate hook is used"
When a Mapper schema that has defaults ie:

[code]

And there is a `beforeCreate()` hook defined on the Mapper - the defaults do not get applied because defaults are only applied as a default if there is no `beforeCreate` hook defined.

[2019-07-21 19:46] #542 closed

[2019-09-04 21:49] dkdewitt opened #543 "Any thoughts on rewriting in Rust?"
## Description

Rust is great and does all things great.
## Environment

- js-data version:
- node or browser version:
- operating system:

[2019-09-04 21:53] #543 closed

[2019-09-20 19:32] zuzusik commented on #187
I am looking for something like this right now. Looks like this functionality got lost when implementing 3.0

[2019-09-20 19:56] crobinson42 commented on #187
Do you have a code example or more details?

[2019-09-20 20:11] zuzusik commented on #187
@crobinson42 first post in this issue has pretty much a detailed explanation, but to make it short, I would like to be able to do something like:

[code]

**note: ** `after<Action>` hooks don't fire on errors

For now it can be worked around on Adapter level using it's `responseError` like this:

[code]

This perfectly fits in what I need, but would be nice to have something like this out of the b

[2019-10-10 12:56] Mordax commented on #310
@jmdobry Are you folks planning on supporting Graph databases like Neo4j?

[2019-11-11 21:56] jrdn91 commented on #424
I'm having trouble implementing a custom validator, I've pasted this validate override method in all the places I can think and none of them ever get called. Where am I intended to override the validate method?

[2019-11-11 21:57] crobinson42 commented on #424
@jrdn91 are you extending the Mapper class and using the examples above ?

[2019-11-11 22:33] jrdn91 commented on #424
[code]

When I call

[code]

This works fine, I can override other mapper methods such as `beforeFind` and `afterFind` and they seem to be overrideable

[2019-11-11 22:35] crobinson42 commented on #424
I think the validate override works in the recordClass… but I’d have to check, I’ll look into this later when I have time and try to help.

[2019-11-11 22:36] jrdn91 commented on #424
Trying this also doesn't seem to override

[code]

[2019-11-11 22:44] jrdn91 commented on #424
This is the `authenticate` function I'm actually using which sets the user returned from the `.find` method on the user mapper which is what is triggering validator

[code]

[2019-11-11 22:53] crobinson42 commented on #424
@jrdn91 you need to declare `validate` override in the mapper definition:

[code]

[2019-11-11 22:56] jrdn91 commented on #424
[code]

Still doesn't seem to be doing anything

[2019-12-15 16:49] newlegendmedia opened #546 "Project status?"
## Description
I’m looking for something like this, but It appears that there has been a long lull in activity. Is this project still being developed and maintained?

Thanks!

[2019-12-15 16:51] crobinson42 commented on #546
Maintained, yes 👍🏽

[2019-12-16 01:46] newlegendmedia commented on #546
Thanks!

[2019-12-16 01:47] #546 closed

[2020-01-16 00:12] jasonbodily opened #547 "relations are not consistently cached"
## Description

Relations of resources are not predictably made available, even when using the `with` and `bypassCache` operators.

## Environment

- js-data version: 3.0.8
- node: 10.15.3
- operating system: Catalina

## Steps to reproduce
I've included a full example that can be run.
1) Invoke the client code function as it is, and you'll find that the team will be logged to the console successf

[2020-01-17 18:51] crobinson42 commented on #547
PR's are welcome on this :-)

[2020-01-19 03:32] luisvt opened #550 "Migrate code to typescript?"
## Description

Is there any plans for migration to typescript?

[2020-01-19 04:41] crobinson42 commented on #550
I don’t have any plans but I would definitely support through the process if you wanted to take lead on it.

[2020-01-25 05:27] crobinson42 commented on #550
@luisvt Are you still interested in this effort?

[2020-01-25 17:32] luisvt commented on #550
Yes

[2020-01-25 18:53] crobinson42 commented on #518
changing direction on the project and instead going for a rewrite with TS and modernizing the lib v4 release.

[2020-01-25 18:53] #518 closed

[2020-01-25 19:02] crobinson42 opened #553 "4.0.0 Release"
## Description

js-data v4.0.0 release is an effort towards modernizing js-data and migrating the project to TypeScript as well as some architectural changes to make it more flexible, community contributor friendly and ultimately maintainable.

[2020-01-25 19:03] #553 closed

[2020-01-26 16:36] crobinson42 opened #554 "Record & Schema Classes"
The `Record` class is invoked to create a `record` instance, ie: `recordInstance = store.add({ ... })`. One of the limitations with v3 Record class is that it's not easily extended or changed to meet the needs of custom applications. One of these issues is the inability to do this on a record: `JSON.stringify(record)` and requires the method call `record.toJSON()` instead.

The `Schema` class is u

[2020-01-26 16:39] crobinson42 opened #555 "Refactor code to use ecmascript Classes"
The implementation of js-data v3 uses functional inheritance and custom rolled `utils.extend()` logic. While this is ok, there are some outdated as well as _buggy_ cases that would be better for readability and maintainability if refactored to use up to date ecmascript language features such as `class`'s.

[2020-01-26 16:43] crobinson42 opened #556 "Publish all packages under @js-data team/scope"
All current npm packages will remain published as is. All new v4 and up compatible packages will be published under @js-data

## Packages

`js-data` = `@js-data/core`

`js-data-http-adapter` = `@js-data/http-adapter`

`js-data-mongo-adapter` = `@js-data/mongo-adapter`

etc.

-----------

It's important to document the npm package changes in each repositories README as well as linking back to a REA

[2020-01-26 16:46] crobinson42 opened #557 "Lerna mono repo?"
The question I want to pose here is should all js-data packages be moved under a "monorepo" structure using a tool like [Lerna](https://lerna.js.org/)?

The benefits would be:

- Consistent versioning across each package
- Development env would be streamlined for cross-package changes
- Opportunity to easily generate documentation for all packages under a single jsdoc3 site

[2020-01-26 16:54] crobinson42 opened #558 "Improve relations logic"
## Description

Js-data provides the ability to define relations between Mappers. In v3 there are a few issues that have been reported that [need attention ](https://github.com/js-data/js-data/labels/mapper%20relations). From experience in helping js-data users in the Slack channels, I have noticed that the relations definitions and setup doesn't seem so intuitive to a lot of folks and there are s

[2020-01-27 13:35] crobinson42 opened #559 "jsdoc - api docs"
- [ ]  deploy jsdoc3 template "docdash" and style for js-data theme `"scripts": ["./styles/theme-green.css"]`

[2020-01-30 11:41] wickstargazer commented on #557
Hi guys, i suggest [Nx.dev](https://nx.dev) for the mono-repo tool. Its really smooth and we have been using it in production for quite some time now

[2020-01-30 13:14] crobinson42 commented on #557
Hey 👋 thx, Nx looks interesting. Does it solve any problems for a project setup that Lerna doesn’t or lacks in? Do you have any pros and cons to using Nx?

[2020-01-30 13:53] wickstargazer commented on #557
Hi, so after readin up a bit at [lerna-to-nx](https://blog.nrwl.io/why-you-should-switch-from-lerna-to-nx-463bcaf6821) found out that lerna is optimized for opensource and nx for organization mono-repo so i am guessing if its going to be only about js-data probably lerna would solve the issue

[2020-01-30 19:38] wickstargazer opened #562 "make orderBy work with locality by using Intl.collator"
## Description

We want to try to make orderBy work with locality by using Intl.collator so that js-data can sort the languages with accents correctly.

We also want to add a custom comparer callback function in-case we need to compare some special models outside of the property scope

## Environment

- js-data version: latest@master
- node or browser version: all browsers
- operating system:

##

[2020-01-31 14:57] crobinson42 commented on #550
#560

[2020-01-31 14:57] #550 closed

[2020-01-31 14:57] crobinson42 commented on #540
@zuzusik any comments on #563 ?

[2020-01-31 17:15] zuzusik commented on #540
@crobinson42 generally #563 looks good to me - `js-data` definitely needs to consider locale when doing sorting, but also I don't think it is much related to current issue

[2020-01-31 17:18] zuzusik commented on #540
BTW, I see now work on `js-data` 4 has started - I think it would be nice to fix current issue there (it looks like a breaking change to me) - I am happy to work on this 👍 could you please assign this issue to me and add to `v4` milestone - I will try to come up with a PR in next few days

[2020-02-03 21:50] zuzusik opened #567 "Maximum call stack size exceeded when related models have different idAttribute"
## Description

JSData gets into infinite loop when trying to add item together with its relations to the store when `idAttribute` field of related models is different.

## Environment

- js-data version: 3.0.8
- node or browser version: any
- operating system: any

## Steps to reproduce

<details><summary>simple code to reproduce</summary>

[code]
</details>

Same code on RunKit: https://runkit.c

[2020-02-05 23:25] #562 closed

[2020-02-06 01:31] zuzusik commented on #540
Closing as it is fixed with https://github.com/js-data/js-data/pull/563

[2020-02-06 01:31] #540 closed

[2020-03-27 01:14] crobinson42 opened #569 "datastore.get(mapper, '') returns a record (v3)"
If an empty string is passed to .get() there will be a record returned if any exist in the datastore

[2020-04-07 08:33] zeesulehria commented on #558
@crobinson42 There is also need for inheritance at relationship level. Currently we need to duplicate all relation definition for subtypes which is a major issue.

[2020-04-07 13:52] crobinson42 commented on #558
@zeesulehria this would need contribution from the community -  if you're willing to help with the efforts let me know :-)

[2020-05-10 13:29] zeesulehria commented on #558
@crobinson42 I'd be willing to contribute to take this framework forward.

[2020-05-10 13:30] crobinson42 commented on #558
@zeesulehria great 👍 are you in the slack team? http://slack.js-data.io/

[2020-05-10 13:34] zeesulehria commented on #558
@crobinson42 yes I am in js-data slack, username: `zeesulehria` Zeeshan Aslam

[2020-06-17 15:05] XT-Martinez opened #570 "Defining relations results to error when the Mapper recordClass is set to false (POJO)"
## Description
I'm implementing a Data Mapper Pattern structure for my project and would like to use POJOs instead of Record instances when dealing with data from a REST API.
However, defining relations results to error when the recordClass in the mapper is set to false (POJO).
I'm not encountering an error if the recordClass is not set.

## Environment

- js-data version: 3.0.8
- node or browser

[2020-06-17 16:38] crobinson42 commented on #570
I would appreciate some help on this if you have time.

What I have done in my projects is a custom `toJSON` method because we rely on the Record Schema classes.

[2020-06-19 20:11] cmidkiff87 opened #571 "Node6 incompatibilities with `querystrings`"
Node 6 changed the [`querystring.parse`](https://nodejs.org/docs/latest-v6.x/api/querystring.html#querystring_querystring_parse_str_sep_eq_options) to return an object whose `__proto__` property [no longer points back to `Object`](https://github.com/nodejs/node/pull/6055).  This was done to allow for more esoteric query string names, such as `https://example.com/route?__proto__=some-value`, which

[2020-07-02 20:08] zuzusik opened #572 "hasOne relations aren't found in store for newly added records"
## Description

<description>

## Environment

- js-data version: latest
- node or browser version: any
- operating system: any

## Steps to reproduce

try adding records to store which have `hasOne` relation and there are already related records in store - related records won't be added

## Cause

The implementation of findExistingLinksFor is incorrect for `hasOne` relation:

https://github.com/j

[2020-07-13 19:33] zuzusik commented on #571
Node 6 has been out of support for quite a time now. Is it also reproducible in newer versions of Node?

[2020-07-13 19:41] cmidkiff87 commented on #571
Yes, I can't remember exactly which versions I've tried it with, but the [latest (14.x) docs](https://nodejs.org/docs/latest-v14.x/api/querystring.html#querystring_querystring_parse_str_sep_eq_options) state that

Of course, this is only an issue when passing the parsed `querystring` object directly to js-data (as we have), and is "fixable" by shimming the object with the required functions.

[2020-07-13 19:43] crobinson42 commented on #571
I do this on server side middleware for requests:

// Patch request query to be an object for operating on it as an Object
// this is because node.js strips down the prototype for performance/speed
(ctx, next) => {
  if (ctx.request.query && typeof ctx.request.query === 'object') {
    // node.js removed the Object.prototype on querystring https://github.com/nodejs/node/pull/6055
    // coerce que

[2020-07-13 19:55] cmidkiff87 commented on #571
Then perhaps there should be a note about this somewhere in the documentation, rather than updating js-data?

(since this is probably more of an issue for upgrading legacy projects than it is for new projects)

[2020-07-13 19:57] crobinson42 commented on #571
I’m not sure that I see this is anything specific to js-data itself, it’s a Node.js quark.

[2020-07-13 19:58] zuzusik commented on #571
I think it might be handy to add this as some utility to js-data, which can
be optionally called if required and print some warnings in console when it
comes to the described situation with the advice to run this utility

пн, 13 лип. 2020 о 12:55 cmidkiff87 <notifications@github.com> пише:

[2020-09-05 21:21] IAmJulianAcosta opened #573 "Hooks not working on mappers"
## Description

I'm trying to add some hooks to a mapper this way:

[code]

But the hook is never being called.

I suspect that the problem is: When this `[fillIn()](https://github.com/js-data/js-data/blob/v4.0.0-beta.3/src/Mapper.ts#L442)` is called, [all hooks already have a value](https://github.com/js-data/js-data/blob/v4.0.0-beta.3/src/Mapper.ts#L511-L779), so `fillIn` won't override the valu

[2021-05-08 22:09] huntr-helper opened #576 "🚨 Potential Improperly Controlled Modification of Object Prototype Attributes ('Prototype Pollution') (CWE-1321)"
👋 Hello, @jmdobry, @crobinson42, @stalniy - a potential high severity Improperly Controlled Modification of Object Prototype Attributes ('Prototype Pollution') (CWE-1321) vulnerability in your repository has been disclosed to us.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/3-other-js-data/js-data** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or

[2021-05-09 11:04] huntr-helper opened #577 "🚨 Potential Improperly Controlled Modification of Object Prototype Attributes ('Prototype Pollution') (CWE-1321)"
👋 Hello, @jmdobry, @crobinson42, @stalniy - a potential high severity Improperly Controlled Modification of Object Prototype Attributes ('Prototype Pollution') (CWE-1321) vulnerability in your repository has been disclosed to us.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/4-other-js-data/js-data** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or

[2021-05-13 05:50] huntr-helper commented on #576
📦 A patch has been submitted for this report. 🔗 Check the patch (https://github.com/js-data/js-data/compare/HEAD...blindhacker99:repo-fixes) or visit the advisory page (https://huntr.dev/bounties/3-other-js-data/js-data) for more information.

[2021-07-01 09:21] JamieSlome commented on #577
Do we have any updates on this?

[2021-07-01 09:21] JamieSlome commented on #576
Do we have any updates on this?

[2021-07-30 19:48] blindhacker99 commented on #576
Hey Team, do we have any updates here please??

[2021-07-30 19:48] blindhacker99 commented on #577
Hey Team, do we have any updates here please??

[2021-07-30 19:49] crobinson42 commented on #577
Happy to review a PR - I don’t have bandwidth to do any more right now.

[2021-08-01 07:42] blindhacker99 commented on #577
Hey @crobinson42 , I understand your concern but once could you validate the bug please. It's a prototype pollution vulnerability and I found two of them in js-data, JS-data is being used in other repos which might be also vulnerable due to this.

[2021-09-05 06:59] zidingz opened #578 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-12-11 02:57] yetrun commented on #570
@crobinson42 So how to solve it anyway?

[2021-12-11 03:37] yetrun opened #580 "SimpleStore doesn't support eager loading"
It seems SimpleStore doesn't support eager loading but Container does, why?

[2022-01-03 07:57] jonguenther commented on #577
Hey all it's been 8 months and a [CVE was published now ](https://www.whitesourcesoftware.com/vulnerability-database/CVE-2021-23574). Is there a chance that https://github.com/js-data/js-data/pull/579 will fix the vulnerability?

[2022-01-10 18:00] KlavierCat commented on #577
@crobinson42 Could you review PR #579 to see if that would fix it please?

[2022-01-10 21:01] crobinson42 commented on #577
v3.0.11 published https://www.npmjs.com/package/js-data

[2022-01-10 21:01] #577 closed

[2022-02-09 08:38] shubhammane77 opened #586 "Getting 'DSUtils.deepMixIn' undefined when upgrading js-data package."
## Description
Getting TypeError: undefined is not an object (evaluating 'DSUtils.deepMixIn') when running karma tests.

<description>
I am trying to upgrade js-data version from 2.10.0 to 3.0.11. When I am running karma tests, I am getting below error.
PhantomJS 2.1.1 (Windows 8) ERROR
  An error was thrown in afterAll
  TypeError: undefined is not an object (evaluating 'DSUtils.deepMixIn')

Same

[2022-02-09 11:31] shubhammane77 commented on #586
Seems like its linked to https://github.com/js-data/js-data-angular/issues/371 which remains unresolved